<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('/static/css/begin_order.css');
    </style>
    <title>立即预约</title>
</head>
<body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/jquery.blockUI.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/begin_order.js"> </script>

    <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
        <div style="height: 100px;line-height:140px;float: left;font-size: 2.7em">{{Product_Name}}</div>
        <div style="float: right;font-size: 2em;text-align: left;margin-right: 30px;line-height:140px">   单价：￥<strong id="product_price">{{Product_Price}}</strong>     </div>
    </div>

    <div class="seperatoLine"></div>

        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">

        <div style="height: 100px;line-height:140px;float: left;font-size: 2.7em">数量</div>
            <div style="float: right;font-size: 3em;text-align: left;margin-right: 30px;;width:80px;
            height:60px;margin-top: 50px;background-color: #EA5504;border-radius: 10px;color: white;
            text-align: center;" onclick="$.changeCount(1)">+</div>
            <div id="order_prd_count" style="float: right;font-size: 2em;text-align: left;margin-right: 30px;width:80px;height:60px;border:2px solid #707070;text-align: center;margin-top: 40px;padding-top: 15px;border-radius: 10px">   1     </div>
            <div style="float: right;font-size: 3em;text-align: left;margin-right: 30px;;width:80px;
            height:60px;margin-top: 50px;background-color: #EA5504;border-radius: 10px;color: white;
            text-align: center;"  onclick="$.changeCount(-1)">-</div>
        </div>

        <div class="seperatoLine"></div>
        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <div style="height: 100px;line-height:140px;float: left;font-size: 2.7em">订单金额</div>
            <div id="order_price" style="float: right;font-size: 2em;text-align: left;margin-right: 30px;line-height:140px">   ￥<strong id="product_price_total">{{Product_Price}}  </strong>   </div>
        </div>

        <div style="width: 100%;height: 20px;background-color: #e0e0e0"></div>
        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <img src="/static/Images/time.png" style="width: 80px;height: 80px;float: left;margin-top: 30px" />
            <div style="height: 100px;line-height:140px;float: left;font-size: 2.3em;margin-left: 35px">上门时间</div>
            <input id="service_date" type="date" value="2017-11-13" style="width: 260px;height: 80px;margin-top: 30px;font-size: 2em;"/>
            <select id="service_time" style="float: right;font-size: 2em;text-align: left;margin-right: 30px;height:80px;width:160px;margin-top: 30px">
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
                <option>19:00</option>
                <option>20:00</option>
                <option>21:00</option>
                <option>22:00</option>
                <option>23:00</option>
                <option>00:00</option>
                <option>01:00</option>
                <option>02:00</option>
                <option>03:00</option>
                <option>04:00</option>
                <option>05:00</option>
                <option>06:00</option>
                <option>07:00</option>
            </select>
        </div>

		<div class="seperatoLine"></div>

        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <img src="/static/Images/time.png" style="width: 80px;height: 80px;float: left;margin-top: 30px" />
            <!--<div style="height: 100px;line-height:140px;float: left;font-size: 2.7em;margin-left: 20px">上门时间(点击选择）</div>-->
            <INPUT id="select_address" class="inputEdit" type="text" value="联系人" onfocus="javascript:if(this.value=='联系人')this.value='';"
                   style="height: 140px;line-height:140px;float: left;width:240px;font-size: 2.3em;margin-left: 20px">

            <div style="width: 80px;height: 80px;float: left;">
			<!--<img src="/static/Images/address.png" style="width: 80px;height: 80px;float: right;margin-top: 30px;margin-right: 10px" onclick="$.selectAddress()"/>-->
                <select id="address_selector" style="width: 380px;height: 80px;margin-top: 30px;font-size: 2em" onchange="$.address_change()">
                     {% for key,value in User_Address.items %}
                          <option value="{{ value.Phone }}" name="{{value.Name}}"> {{ value.Address}} </option>
                     {% endfor %}
                </select>
                </div>
        </div>


        <div class="seperatoLine"></div>

        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <img src="/static/Images/time.png" style="width: 80px;height: 80px;float: left;margin-top: 30px" />
            <!--<div style="height: 100px;line-height:140px;float: left;font-size: 2.7em;margin-left: 20px">上门时间(点击选择）</div>-->
            <INPUT id="address_input" class="inputEdit" type="text" value="请填写详细地址" onfocus="javascript:if(this.value=='请填写详细地址')this.value='';" style="height: 140px;line-height:140px;float: left;width:60%;font-size: 2.3em;margin-left: 20px">
        </div>



        <div class="seperatoLine"></div>
        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <img src="/static/Images/time.png" style="width: 80px;height: 80px;float: left;margin-top: 30px" />
            <!--<div style="height: 100px;line-height:140px;float: left;font-size: 2.7em;margin-left: 20px">上门时间(点击选择）</div>-->
            <INPUT id="user_phone" class="inputEdit" type="text" value="联系电话" onfocus="javascript:if(this.value=='联系电话')this.value='';" style="height: 140px;line-height:140px;float: left;width:60%;font-size: 2.3em;margin-left: 20px">
        </div>

        <div class="seperatoLine"></div>
        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <img src="/static/Images/time.png" style="width: 80px;height: 80px;float: left;margin-top: 30px" />
            <!--<div style="height: 100px;line-height:140px;float: left;font-size: 2.7em;margin-left: 20px">上门时间(点击选择）</div>-->
            <INPUT id="other_info" class="inputEdit" type="text" value="备注其他要求" onfocus="javascript:if(this.value=='备注其他要求')this.value='';" style="height: 140px;line-height:140px;float: left;width:60%;font-size: 2.3em;margin-left: 20px">
        </div>
        <div class="seperatoLine"></div>


    <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
        <div style="height: 100px;line-height:140px;float: left;font-size: 2.7em;text-align: left">服务商</div>
        <select id="org_selector" style="width: 380px;height: 80px;margin-top: 30px;margin-left: 10px;font-size: 2.3em">
            {% for key1,value1 in Org_Lists.items %}
                <option value="{{key1}}"> {{value1}} </option>
            {% endfor %}
        </select>
    </div>

    <div class="seperatoLine"></div>

        <div class="nav" onclick="$.commitOrder('{{Product_Code}}')">
            提交我的预约
        </div>
</body>
</html>