<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/emplyee_main.css"/>
    <title>工程师后台</title>
</head>
<body style="background-color:#eeeeee">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/utils.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/weixin_login.js"> </script>
    <script src="/static/js/emplyee_main.js"> </script>

    <div class="home_card">
        <img src="/static/Images/default_head2.png" class="login_head">

        <div class="login_info_div">
            <div style="width: 100%;height:120px;line-height: 160px">账户姓名：{{Emp_Name}}</div>
            <div style="width: 100%;height:100px;line-height: 40px">手机号码：{{Emp_Phone}}</div>
        </div>

        <div class="operator_info_div">
            <img src="/static/Images/myorders.png" style="width: 90px;height: 90px;margin-top: 5px" onclick="$.loadDatas(0)" />
            <img src="/static/Images/myemplyees.png" style="width: 90px;height: 90px" onclick="$.loadDatas(1)"/>
        </div>
    </div>
    <div class="topSep"></div>

    <div class="order_div" id="qx_order_list"></div>


</body>
</html>