<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/emplyee_main.css"/>
    <title>工程师后台</title>
</head>
<body style="background-color:#eeeeee">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/utils.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/weixin_login.js"> </script>
    <script src="/static/js/emplyee_main.js"> </script>

    <div class="home_card">
        <img src="/static/Images/default_head2.png" class="login_head">

        <div class="login_info_div">
            <div style="width: 100%;height:120px;line-height: 160px;color: white">账户姓名：{{Emp_Name}}</div>
            <div style="width: 100%;height:100px;line-height: 40px;color: white">手机号码：{{Emp_Phone}}</div>
        </div>
    </div>
    <div class="topSep"></div>

        <div class="topSep"></div>
            <div class="item_function" onclick="javascrtpt:window.location.href='./emplyee_unfinish_orders.html'">
            <img class="itemLogo" src="/static/Images/qingxi.png">
            <div class="itemTitle">未完成订单</div>
            <img class="right_arrow" src="/static/Images/right.png">
        </div>
        <div class="seperatoLine"></div>

        <div class="item_function" onclick="javascrtpt:window.location.href='./emplyee_finish_orders.html'">
            <img class="itemLogo" src="/static/Images/weixiu.png">
            <div class="itemTitle">已完成订单</div>
            <img class="right_arrow" src="/static/Images/right.png">
        </div>

    </div>
    <!--<div class="order_div" id="qx_order_list"></div>-->
    <div class="exit_login" onclick="$.exitLogin()">
            退出登录
    </div>

</body>
</html>