<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    
    <link rel="stylesheet" type="text/css" href="homep.css"/>
    <!--<style>.da1{ width:161px; height:130px; background-color: bisque; position:absolute; top:250px; left:550px; cursor:pointer;}</style>-->
</head>
<body>


<input type="button" value="下单首页" style="width: 200px;height: 100px;font-size: 2em"
       onclick="javascrtpt:window.location.href='./begin_order.html'">

<input type="button" value="个人中心"  style="width: 200px;height: 100px;font-size: 2em"
       onclick="javascrtpt:window.location.href='./user_main.html'" style="background-color: antiquewhite">


<input type="button" value="首匠介绍"  style="width: 200px;height: 100px;font-size: 2em"
       onclick="javascrtpt:window.location.href='./introduce.html'">
<input type="button" value="反馈建议"  style="width: 200px;height: 100px;font-size: 2em"
       onclick="javascrtpt:window.location.href='./suggest.html'">
<input type="button" value="服务流程"  style="width: 200px;height: 100px;font-size: 2em"
       onclick="javascrtpt:window.location.href='./service_flow.html'">


<input type="button" value="微信授权"  style="width: 200px;height: 100px;font-size: 2em"
       onclick="javascrtpt:window.location.href='./testWX'">
</body>


</html>