<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
<script>

    function changeUpalod() {
        $('#form1').submit();
    }
    $(document).ready(function(){
        $('#ifm1').load(function(){
            var body = $(window.frames['ifm1'].document.body);
//            var data = eval('(' + body[0].textContent + ')');
            alert(body[0].textContent);
        })
    });
</script>

<form id="form1" action="http://www.chuweinews.com:9090/uploadFile/" method="POST" enctype="multipart/form-data" target="ifm1">
    <iframe id="ifm1" name="ifm1" style="display: none;"></iframe>
    <input type="file" name="myfile"/>
    <input type="button" onclick="changeUpalod()" value="Form提交"/>
</form>
</body>

</html>