<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('/static/css/user_address.css');
    </style>
    <title>我的地址</title>
</head>
<body style="text-align: center">

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/jquery.blockUI.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/user_address.js"> </script>

    <div class="order_div" id="address_list"></div>

        <div class="nav" onclick="javascrtpt:window.location.href='./user_add_address.html'">
            新增地址
        </div>
</body>
</html>