<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('/static/css/user_setup_orders.css');
    </style>
    <title>安装订单</title>
</head>
<body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/jquery.blockUI.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/user_wx_orders.js"> </script>

    <div class="order_div">
        <div class="item_function">
            <div style="width: 100%">
                <div style="margin-left: 5%;padding-top: 20px;font-size: 2.5em;height: 4pc">No.ABC0000000001</div>
            </div>

            <div class="seperatoLine"></div>

            <div style="width: 60%;float: left">
                <img class="itemLogo" src="/static/Images/qingxi.png">
                <div class="itemTitle">安装订单</div>

            </div>

            <div style="width: 36%;float: right">
                <div class="order_oper"  onclick="$.viewOrder('aafd')">  查看详情</div>
                <div class="order_oper"  onclick="$.cancelOrder('aafd')">  取消订单</div>
            </div>
        </div>
        <div class="seperatoLine"></div>

         <div class="item_function">
            <div style="width: 100%">
                <div style="margin-left: 5%;padding-top: 20px;font-size: 2.5em;height: 4pc">No.ABC0000000001</div>
            </div>

            <div class="seperatoLine"></div>

            <div style="width: 60%;float: left">
                <img class="itemLogo" src="/static/Images/qingxi.png">
                <div class="itemTitle">安装订单</div>

            </div>

            <div style="width: 36%;float: right">
                <div class="order_oper"  onclick="$.viewOrder('aafd')">  查看详情</div>
                <div class="order_oper"  onclick="$.cancelOrder('aafd')">  取消订单</div>
            </div>
        </div>
        <div class="seperatoLine"></div>

    </div>

</body>
</html>