<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('/static/css/user_add_address.css');
    </style>
    <title>新增地址</title>
</head>
<body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/jquery.blockUI.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/user_add_address.js"> </script>

    <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
        <div style="width: 160px;height: 100px;line-height:140px;float: left;font-size: 2.5em">详细地址</div>
        <div style="width: 70%;float: left;font-size: 2em;">
            <INPUT id="address_input" class="inputEdit" type="text" value="详细地址" onfocus="javascript:if(this.value=='详细地址')this.value='';">
        </div>
    </div>
    <div class="seperatoLine"></div>

    <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <div style="width: 160px;height: 100px;line-height:140px;float: left;font-size: 2.5em">联系人</div>
            <div style="width: 70%;float: left;font-size: 2em">
                <INPUT id="contact_name" class="inputEdit" type="text" value="请输入联系人" onfocus="javascript:if(this.value=='请输入联系人')this.value='';">
            </div>
        </div>
        <div class="seperatoLine"></div>

        <div style="width: 98%;height: 140px;text-align: center;margin-left: 20px">
            <div style="width: 160px;height: 100px;line-height:140px;float: left;font-size: 2.5em">联系电话</div>
            <div style="width: 70%;float: left;font-size: 2em">
                <INPUT id="contact_phone" class="inputEdit" type="text" value="请输入手机号码" onfocus="javascript:if(this.value=='请输入手机号码')this.value='';">
            </div>
        </div>
        <div class="seperatoLine"></div>

        <div class="nav" onclick="$.saveAddress('aafd')">
            保存地址
        </div>
</body>
</html>