<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('/static/css/org/org_emplyees.css');
    </style>
    <title>我的员工</title>
</head>
<body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/jquery.blockUI.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/weixin_login.js"> </script>
    <script src="/static/js/org/org_emplyees.js"> </script>
    <div id="add_button" onclick="javascrtpt:window.location.href='./add_emplyee.html'">
    添加
    </div>

    <div class="order_div" id="qx_order_list"></div>

</body>
</html>
