<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        @import url('/static/css/org/org_qx_orders.css');
    </style>
    <title>家电维修订单</title>
</head>
<body>

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/jquery.blockUI.js"> </script>
    <script src="/static/js/cookie.js"> </script>
    <script src="/static/js/weixin_login.js"> </script>
    <script src="/static/js/org/org_wx_orders.js"> </script>

    <div class="order_div" id="qx_order_list"></div>

</body>
</html>
